.vscode
.DS_Store
node_modules
REFERENCE_Learning
playwright-report
test-results
allure-results


# cypress/reports/mochawesome-report/
# cypress/screenshots/
# browserstack.json


#~/.jenkins
#~/.android
#.jenkins
#.android